.cart-item {

    display: flex;

    gap: 20px;

    background: white;

    padding: 20px;

    margin-bottom: 20px;

    border-radius: 10px;

    box-shadow: 0 0 8px rgba(0, 0, 0, .1);

}

.cart-item img {

    width: 120px;

    height: 120px;

    object-fit: cover;

}

.cart-item button {

    padding: 8px 15px;

    cursor: pointer;

}