.product-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.product-card:hover {
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.12),
        0 10px 15px rgba(0, 0, 0, 0.08);
}

.discount-badge {
    position: absolute;
    background: #e53935;
    color: #fff;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 500;
    z-index: 10;
}

.product-card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    transition: transform 0.4s ease;
}

.product-card:hover img {
    transform: scale(1.08);
}


.product-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.product-card h3 {
    font-size: 18px;
    margin: 8px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 48px;
}

.product-card p {
    font-size: 18px;
    color: green;
    margin-bottom: 15px;
    font-weight: 600;
}

.product-buttons {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-buttons button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(135deg, #6580bb, #132645);
    color: #fff;
    font-size: 15px;
    transition: all 0.3s ease;
}

.product-buttons button:hover {
    transform: translateY(-2px);
    background: linear-gradient(135deg, #000, #1f2937);
}